html {
	font-size: 14px;
}
@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.container {
	max-width: 960px;
}

.pricing-header {
	max-width: 700px;
}

.card-deck .card {
	min-width: 220px;
}	

.btn-light {
	background-color: #27384a;
}

.toggle-off.btn {
	padding-left: 1rem;
}

input[type=checkbox]:disabled + div .btn {
	background-color: #dd710d;
}

h6 {
	color: gray;
}